body{
   height: 200vh;
}

h1{
    background-color: red;
    border: 3px solid blue;
    color: white;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    width: 25vw;
    margin: 30px auto; 
}

p{
    color: blue;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    height: 150px;
    width: 70%;
    border:3px dashed red;
    background-image: linear-gradient(red,yellow);
}

ul.mylist{
    border: 2px dotted green;

}

#item-two{
    border: 3px solid red;
}